{% extends "detector/base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-login">
        <header>ログイン</header>
        <section>
            <form action="{{ url_for('auth.login') }}" method="POST" novalidate="novalidate">
                {% for message in get_flashed_messages() %}
                <span class="dt-auth-flash">{{ message }}</span>
                {% endfor %}
                {{ form.csrf_token }}
                {{ form.email(placeholder="メールアドレス", class="form-control dt-auth-input") }}
                {{ form.password(placeholder="パスワード", class="form-control dt-auth-input") }}
                {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
            </form>
        </section>
    </div>
</div>




{% endblock %}