<!-- detector/base.htmlに変更-->
{% extends "detector/base.html" %}
{% block title %}ユーザー新規登録{% endblock %}
{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-signup">
        <header>ユーザー新規登録</header>
        <section>
            <form action="{{ url_for('auth.signup', next=request.args.get('next')) }}" method="POST"
                novalidate="novalidate" class="form-signin">
                {{ form.csrf_token }}
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{ message }}</div>
                {% endfor %}
                {{ form.username(size=30, placeholder="ユーザー名", class="form-control dt-auth-input") }}
                {{ form.email(placeholder="メールアドレス", class="form-control dt-auth-input") }}
                {{ form.password(placeholder="パスワード", class="form-control dt-auth-input") }}
                {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}